In [6]:
import pandas as pd
import numpy as np
from tqdm import tqdm

# 处理下载下来的lamost星表
原始数据是一个联合列，由|进行分割。这里将数据拆分为多个列，并生成csv

In [21]:

df_lamost = pd.read_csv(r'G:\Star\1_Data_download_and_preprocessing\raw_data_catalogue_label\DR11_V11_SNRG=5_class=star.csv', comment='#')
# df_lamost = pd.read_csv('./data/dr10_LAMOST_9964.csv')

In [22]:
df_lamost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9625555 entries, 0 to 9625554
Data columns (total 7 columns):
 #   Column  Dtype
---  ------  -----
 0   obsid   int64
 1   uid     object
 2   snrg    float64
 3   class   object
 4   z       float64
 5   ra      float64
 6   dec     float64
dtypes: float64(4), int64(1), object(2)
memory usage: 514.1+ MB

In [31]:
# 如果需要保存无注释的数据
df_lamost.to_csv(r'G:\Star\1_Data_download_and_preprocessing\raw_data_catalogue_label\DR11_V11_SNRG=5_class=star_noComment.csv', index=False)


## 老版本的星表需要分割，新版本不需要运行这个部分

In [9]:
combined_name=df_lamost.columns[0]
combined_name

'obsid'

In [4]:
# 使用 str.split() 方法按竖线分割数据列
new_columns = df_lamost[combined_name].str.split('|', expand=True)

# 为新列命名
# new_columns.columns = ['lamost_obsid', 'lamost_snrg', 'lamost_class', 'lamost_subclass', 'lamost_z', 'lamost_ra', 'lamost_dec', 'lamost_logg', 'lamost_file']
names = combined_name.split('|') # 使用split方法拆分字符串
names = [name.replace('combined', 'lamost') for name in names] # 替换前缀并创建新的列表
new_columns.columns = names

# 将新列添加到数据框中
df_lamost = pd.concat([df_lamost, new_columns], axis=1)

# 删除原始的单一列数据
df_lamost.drop(combined_name, axis=1, inplace=True)

In [5]:
df_lamost.shape

(11473644, 4)

In [6]:
df_lamost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11473644 entries, 0 to 11473643
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   lamost_obsid  object
 1   lamost_snrg   object
 2   lamost_ra     object
 3   lamost_dec    object
dtypes: object(4)
memory usage: 350.1+ MB

In [24]:
df_lamost['lamost_ra'][0:5]

0    332.2022740000
1    332.5354560000
2    332.3687450000
3    332.2066650000
4    332.3215230000
Name: lamost_ra, dtype: object

In [22]:
# # 保存数据
# df_lamost.to_csv(r'E:\my_star\raw_data_catalogue_label\lamost_dr10_data_catalog.csv', index=False)

## 按照snrg分组

In [28]:
# 按照snrg分组

# (老版本需要)将 'lamost_snrg' 列转换为数值型，这里使用 pd.to_numeric，并忽略无法转换的错误
# df_lamost['lamost_snrg'] = pd.to_numeric(df_lamost['lamost_snrg'], errors='coerce')

# 分组：lamost_snrg < 50
group_1 = df_lamost[df_lamost['snrg'] < 50]

# 分组：lamost_snrg > 100
group_2 = df_lamost[df_lamost['snrg'] >= 100] 
group_2 = group_2[group_2['snrg']  < 200] 

# 分组：lamost_snrg > 100
group_3 = df_lamost[df_lamost['snrg'] >= 50] 
group_3 = group_3[group_3['snrg']  < 200]

In [30]:
group_1_path = r'G:\Star\1_Data_download_and_preprocessing\raw_data_catalogue_label\DR11_less_50.csv'
group_2_path = r'G:\Star\1_Data_download_and_preprocessing\raw_data_catalogue_label\DR11_between_100_200.csv'
group_3_path = r'G:\Star\1_Data_download_and_preprocessing\raw_data_catalogue_label\DR11_between_50_200.csv'


group_1.to_csv(group_1_path, index=False)
group_2.to_csv(group_2_path, index=False)
group_3.to_csv(group_3_path, index=False)

In [25]:
group_1

,obsid,uid,snrg,class,z,ra,dec
12,496103150,G13201946273883,41.77,STAR,0.000077,359.423429,8.256507
18,496103175,G13202175531545,33.66,STAR,-0.000022,359.188324,8.202001
23,496103183,G13202152996999,20.26,STAR,-0.000054,359.096493,7.895883
24,496103186,G13202145717041,13.27,STAR,0.000091,359.204147,7.760674
30,496103195,G13201972046976,43.38,STAR,-0.000101,359.361564,7.967559
...,...,...,...,...,...,...,...
9625510,496102190,G13201731964655,31.38,STAR,-0.000051,358.240527,6.778936
9625512,496102210,G13201515993833,43.51,STAR,-0.000175,358.828515,6.044937
9625513,496102216,G13200725475793,33.42,STAR,-0.000032,358.914398,5.922288
9625517,496102236,G13201605048291,10.91,STAR,-0.000082,359.150440,6.447666
9625531,496103034,G13200958936227,12.65,STAR,-0.000217,359.035253,7.462428

In [26]:
group_2

,obsid,uid,snrg,class,z,ra,dec
0,496103107,G13199168596611,105.93,STAR,-0.000436,358.968687,8.636649
5,496103116,G13199167962280,158.66,STAR,0.000032,358.952471,8.543089
7,496103128,G13201951218988,101.19,STAR,-0.000072,359.497789,8.402327
8,496103139,G13202159194710,160.92,STAR,-0.000116,359.275705,8.414056
14,496103157,G13202175471124,100.39,STAR,0.000037,359.173276,8.195924
...,...,...,...,...,...,...,...
9625542,496103073,G13202163995276,124.50,STAR,0.000054,358.996516,8.153762
9625545,496103084,G13202129346736,134.97,STAR,-0.000206,358.662964,7.780781
9625546,496103087,G13202136814927,129.20,STAR,0.000154,358.892319,7.960495
9625547,496103090,G13202184275822,118.40,STAR,0.000005,358.969844,7.787706
9625551,496103100,G13202011240467,128.72,STAR,-0.000128,358.660799,7.906576

In [29]:
group_3

,obsid,uid,snrg,class,z,ra,dec
0,496103107,G13199168596611,105.93,STAR,-0.000436,358.968687,8.636649
2,496103110,G13199113292538,85.27,STAR,-0.000053,358.861875,8.476437
3,496103111,G13199166911949,78.63,STAR,-0.000045,358.945392,8.560768
5,496103116,G13199167962280,158.66,STAR,0.000032,358.952471,8.543089
6,496103124,G13199119198399,99.17,STAR,-0.000145,358.864315,8.591331
...,...,...,...,...,...,...,...
9625548,496103091,G13202008437366,67.03,STAR,-0.000203,358.624356,7.829743
9625550,496103099,G13202135078509,57.35,STAR,-0.000019,358.783811,7.947555
9625551,496103100,G13202011240467,128.72,STAR,-0.000128,358.660799,7.906576
9625552,496103103,G13199121329323,69.88,STAR,-0.000010,358.757083,8.544895
9625554,496103105,G13202006403860,53.73,STAR,-0.000026,358.627545,8.280056