In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

# 处理下载下来的lamost星表
原始数据是一个联合列，由|进行分割。这里将数据拆分为多个列，并生成csv

In [2]:
df_lamost = pd.read_csv(r'E:\my_star\raw_data_catalogue_label\dr10_35018_无筛选.csv')
# df_lamost = pd.read_csv('./data/dr10_LAMOST_9964.csv')

In [3]:
combined_name=df_lamost.columns[0]
combined_name

'combined_obsid|combined_snrg|combined_ra|combined_dec'

In [4]:
# 使用 str.split() 方法按竖线分割数据列
new_columns = df_lamost[combined_name].str.split('|', expand=True)

# 为新列命名
# new_columns.columns = ['lamost_obsid', 'lamost_snrg', 'lamost_class', 'lamost_subclass', 'lamost_z', 'lamost_ra', 'lamost_dec', 'lamost_logg', 'lamost_file']
names = combined_name.split('|') # 使用split方法拆分字符串
names = [name.replace('combined', 'lamost') for name in names] # 替换前缀并创建新的列表
new_columns.columns = names

# 将新列添加到数据框中
df_lamost = pd.concat([df_lamost, new_columns], axis=1)

# 删除原始的单一列数据
df_lamost.drop(combined_name, axis=1, inplace=True)

In [5]:
df_lamost.shape

(11473644, 4)

In [6]:
df_lamost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11473644 entries, 0 to 11473643
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   lamost_obsid  object
 1   lamost_snrg   object
 2   lamost_ra     object
 3   lamost_dec    object
dtypes: object(4)
memory usage: 350.1+ MB

In [24]:
df_lamost['lamost_ra'][0:5]

0    332.2022740000
1    332.5354560000
2    332.3687450000
3    332.2066650000
4    332.3215230000
Name: lamost_ra, dtype: object

In [22]:
# # 保存数据
# df_lamost.to_csv(r'E:\my_star\raw_data_catalogue_label\lamost_dr10_data_catalog.csv', index=False)

In [8]:
# 按照snrg分组

# 将 'lamost_snrg' 列转换为数值型，这里使用 pd.to_numeric，并忽略无法转换的错误
df_lamost['lamost_snrg'] = pd.to_numeric(df_lamost['lamost_snrg'], errors='coerce')

# 分组：lamost_snrg < 50
group_1 = df_lamost[df_lamost['lamost_snrg'] < 30]

# 分组：lamost_snrg > 100
group_2 = df_lamost[df_lamost['lamost_snrg'] > 50] 
group_2 = group_2[group_2['lamost_snrg']  < 100]

In [21]:
group_1.to_csv(r'E:\my_star\raw_data_catalogue_label\dr10_无筛选小于50.csv', index=False)
group_2.to_csv(r'E:\my_star\raw_data_catalogue_label\dr10_无筛选大于100.csv', index=False)

In [10]:
group_2

         lamost_obsid  lamost_snrg       lamost_ra     lamost_dec
121            101224        51.31  332.0475860000  -1.8760010000
164            102084        54.80  330.4670140000  -1.2219770000
169            102093        56.80  330.3382870000  -1.2285380000
249            103019        66.33  331.4853640000  -0.0013390000
250            103023        58.88  331.4195490000  -0.0740380000
...               ...          ...             ...            ...
11473593    992004106        86.55  137.3291250000  29.4915583000
11473609    995514151        50.01   87.9785400000  -0.5527160000
11473622   1002102072        85.41  173.0145010000   6.9194970000
11473625   1002705166        52.25  265.6142900000   4.9971466000
11473631   1010808172        59.09  227.4168542000  21.8372167000

[1835371 rows x 4 columns]